{%- if section.settings.enable -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
  <!-- sticky-cart.liquid -->
  <style>
    :root{
      --sticky-cart-mix: {{section.settings.mix_1}};
      --sticky-cart-mix2: {{section.settings.mix_2}};
      --sticky-cart-text: {{section.settings.text_cl}};
      --sticky-cart-bg: {{section.settings.cart_bg}};
      --sticky-cart-cl: {{section.settings.cart_cl}};
      }
  </style>
  <style>
    .sticky-cart-wr{
      position: fixed;
      width: 100%;
      padding:10px 0;
      bottom: 0;
      z-index: 999;
      background: var(--sticky-cart-mix);
        left:0;
        -webkit-transition: all ease .45s;
        -o-transition: all ease .45s;
        transition: all ease .45s;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        }
    .sticky-cart-wr.active{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    .sticky-cart-wr.disable{
      -webkit-transform: translateY(100%) !important;
      -ms-transform: translateY(100%) !important;
      transform: translateY(100%) !important;
    }
    #js-sticky-btn{
      background:var(--sticky-cart-bg);
      color:var(--sticky-cart-cl);
    }
    #js-sticky-prd{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position:relative;
    }
    #js-sticky-prd h3{
      font-size: 20px;
      max-width: 500px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      color:var(--sticky-cart-text);
    }
    #js-sticky-price {
        color:var(--sticky-cart-text);
    }
    #js-sticky-price .money{
      color:var(--sticky-cart-text);
    }
    #js-sticky-img{
      display: none;
      height:70px;
    }
    .sticky-cart-select{
      background:var(--sticky-cart-mix2);
      text-transform: uppercase;
      font-size: 13px;
    }
    .sticky-cart-select select{
      background: transparent;
      font-weight:bold;
      padding: 10px;
      font-size: 13px;
      text-transform: uppercase;
    }
    #js-sticky-quantity{
      max-width: 70px;
      font-weight: bold;
      text-align: center;
      padding: 10px;
    }

    #js-sticky-close{
      display: none;
      width: 40px;
      height: 40px;
      border: none;
      top: 0;
      left: -50px;
      line-height: 38px;
      text-align: center;
      position: absolute;
      color:var(--sticky-cart-mix);;
      border-radius: 5px;
      filter: brightness(0.8);
      opacity:0;
      border-radius: 50%;
      top: 50%;
      margin-top: -20px;
    }
    #js-sticky-close .icon{margin:0 auto;}
    .active #js-sticky-close{opacity:0}
    .active.disable #js-sticky-close{opacity:.6;top:-70px;margin-top: 0;}
    #js-sticky-close .icon-close+.icon{display:none}
    .disable #js-sticky-close .icon-close{display:none}
    .disable #js-sticky-close .icon-close+.icon{display:block}
  </style>
<div id="js-anchor-sticky-cart"></div>
  <div class="sticky-cart-wr shadow d-flex sticky-cart-{{ collection.id}}" >
    <div id="js-sticky-prd" class="container-fluid align-self-center">
      <div class="js-sticky-prd-headings-wrapper">
        <img id="js-sticky-img" src="{{product.featured_image | img_url: '200x'}}" />
        <h3 class="m-0">{{product.title}}</h3>
        {% if product.metafields.info.support_headline != blank %}
          <div class=" pb-2 rte product-single__description">
            {{product.metafields.info.support_headline}}
          </div>
        {% endif %}
      </div>
      <div class="js-sticky-prd-info-wrapper d-flex">
        <div class="js-sticky-info-inner"
        ><div class="js-sticky-worth-wrapper">
          {% if product.variants.size > 1 %}
            {% if current_variant.metafields.pricing.worth != blank %}
                {% for variant in product.variants %}
                    <span class="product-single__meta-worth product-single__meta-worth-{{collection.id}} {% if variant != current_variant %}hide{% endif %}"
                            data-variant="{{ variant.id }}">
                        {{ variant.metafields.pricing.worth }}
                    </span>
                {% endfor %}
            {% endif %}
        {% else %}
            {% if product.metafields.info.worth != blank %}
                <span class="product-single__meta-worth product-single__meta-worth-{{collection.id}}">
                    {{ product.metafields.info.worth }}
                </span>
            {% endif %}
        {% endif %}
      </div>
        <div class="js-sticky-price-wrapper">
          <div id="js-sticky-price" class="product-card__price">
            {{ current_variant.price | money }}
          </div>
        {% if product.variants.size > 1 %}
          {% if current_variant.metafields.pricing.save != blank %}
            {% for variant in product.variants %}
              <span class="product-single__meta-saving product-single__meta-saving-{{collection.id}} {% if variant != current_variant %}hide{% endif %}" data-variant="{{ variant.id }}" >
                {{ variant.metafields.pricing.save }}
              </span>
            {% endfor %}
          {% endif %}
        {% else %}
          {% if product.metafields.info.save != blank %}
            <span class="product-single__meta-saving product-single__meta-saving-{{collection.id}}">
            {{product.metafields.info.save}}
            </span>
          {% endif %}
        {% endif %}
      </div>
    </div>
        
      <div class="js-product-form product-form__quantity-submit d-flex">
        <div class="product-form__item js-product-form__item--quantity">
          <label class="hide" for="Quantity">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input product-form__quantity">
        </div>
          <button id="js-sticky-btn" {% unless current_variant.available %}disabled="disabled"{% endunless %}
                  class="btn btn-theme my-2 ml-auto" 
                  
                  data-buttonid="AddToCart-{{ section.id }}">
            {%- unless current_variant.available -%}
            {{ 'products.product.sold_out' | t }}
            {%- else -%}
            {{ 'products.product.add_to_cart' | t }}
            {%- endunless -%}
          </button>
        </div>
      </div>
      <button id="js-sticky-close">
        {%- include 'icon-close' -%}
        {%- include 'icon-cart' -%}
      </button>
    </div>
  </div>
  <script>
    triggerCart = function (e){
      var elementButton = e.getAttribute('data-buttonid');
      console.log(elementButton);
      document.getElementById(elementButton).click();
    }

    triggerOption = function (e){
      var index = e.selectedIndex;
      var value = e.value;
      var elementRadio = document.getElementById(e.getAttribute('data-radio'));
      var elementSelect = document.getElementById(e.getAttribute('data-selectbox'));

      //     Swatch variant
      if (elementRadio !== null){
        elementRadio.getElementsByTagName('input')[index].click();
      }

      //     dropdown variant
      if (elementSelect !== null){
        elementSelect.value  = value;
        elementSelect.dispatchEvent(new Event('change'));
      }
    }
  </script>
{%- endif -%}