{% if section.blocks.size > 0 %}
	<style>
		.top_bundled_bg,
		.bottom_bundled_bg,
		.mid_bundled_bg {
				position: absolute;
				background-size: cover;
				width: 400px;
				max-height: 600px;
				background-repeat: no-repeat;
				height: 100%;
				z-index: 0;
		}

		.top_bundled_bg {
				top: 0;
				right: 0;
				background-image: url({{ section.settings.top_background | img_url: 'master' }});
		}

		.mid_bundled_bg {
				top: 50%;
				transform: translate(0, -50%);
				left: 0;
				background-image: url({{ section.settings.mid_background | img_url: 'master' }});
		}

		.bottom_bundled_bg {
				bottom: 0;
				right: 0;
				background-image: url({{ section.settings.bottom_background | img_url: 'master' }});
		}

		@media only screen and (max-width: 990px) {
			.top_bundled_bg,
			.bottom_bundled_bg,
			.mid_bundled_bg {
				display: none;
			}
		}
	</style>

	<section class="panels">
		{% if section.settings.bottom_background != blank %}
			<div class="bottom_bundled_bg"></div>
		{% endif %}
		{% if section.settings.mid_background != blank %}
			<div class="mid_bundled_bg"></div>
		{% endif %}
		{% if section.settings.top_background != blank %}
			<div class="top_bundled_bg"></div>
		{% endif %}
		
		<div class="container">
			{% for block in section.blocks %}
				<div class="panel panel-{{ block.id }} panel-{{ block.settings.panel_direction }}">
					<div class="panel-image">
						<img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
					</div><!-- panel-image -->
					<div class="panel-text">
						<div class="panel__inner">
							{% if block.settings.pretitle != blank %}
								<h5 class="subtop">{{ block.settings.pretitle }}</h5>
							{% endif %}

							{% if block.settings.title != blank %}
								<h3>{{ block.settings.title }}</h3>
							{% endif %}

							{% if block.settings.description != blank %}
								<div>{{ block.settings.description }}</div>
							{% endif %}

							{% if block.settings.button_text != blank %}
								<a href="{{ block.settings.link }}" class="btn btn-theme w-auto">{{ block.settings.button_text }}</a>
							{% endif %}
						</div>
					</div><!-- panel-text -->
				</div>
			{% endfor %}
		</div>
	</section><!-- image-panels -->

	{% for block in section.blocks %}
		<style>
			.panel-{{ block.id }} {
				{% case block.type %}
					{% when 'image' %}
						{% if block.settings.image_type == 'background_image' %}
							background-image: url("{{ block.settings.image | img_url: 'master' }}");
							min-height: none;
							display: block;
						{% endif %}
				{% endcase %}
			}

			@media only screen and (max-width: 750px) {
				.panel-{{ block.id }} {
					order: {{ block.settings.order }};
				}
			}
		</style>
	{% endfor %}

{% endif %}

{% schema %}
	{
		"name": "Panels",
		"blocks": [
			{
				"type": "image",
				"name": "Panel",
				"settings": [
					{
						"type": "radio",
						"id": "panel_direction",
						"label": "Panel Direction",
						"default": "left",
						"options": [
							{
								"value": "left",
								"label": "Image Left"
							},
							{
								"value": "right",
								"label": "Image Right"
							}
						]
					},
					{
						"type": "header",
						"content": "Image"
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
					{
						"type": "header",
						"content": "Content"
					},
					{
						"type": "text",
						"id": "pretitle",
						"label": "Pre Heading"
					},
					{
						"type": "text",
						"id": "title",
						"label": "Heading"
					},
					{
						"type": "richtext",
						"id": "description",
						"label": "Description"
					},
					{
						"type": "header",
						"content": "Button"
					},
					{
						"type": "text",
						"id": "button_text",
						"label": "Button Text"
					},
					{
						"type": "url",
						"id": "link",
						"label": "Link"
					}
				]
			}
		],
		"settings": [
			{
				"type": "image_picker",
				"id": "top_background",
				"label": "Background Image (Top)",
				"info": "Recommended Size: 800x1200px"
			},
			{
				"type": "image_picker",
				"id": "mid_background",
				"label": "Background Image (Middle)",
				"info": "Recommended Size: 800x1200px"
			},
			{
				"type": "image_picker",
				"id": "bottom_background",
				"label": "Background Image (Bottom)",
				"info": "Recommended Size: 800x1200px"
			}
		]
	}
{% endschema %}
